---
    apiVersion: apps/v1
    kind: Deployment
    metadata:
        name: toby-cv-site
    spec:
        selector:
            matchLabels:
                app: toby-cv-site
        replicas: 3
        template:
            metadata:
                labels:
                    app: toby-cv-site
            spec:
                containers: 
                - name: toby-cv-site
                  image: elrosvirtual/ts-portfolio:58
                  imagePullPolicy: Always


---
    apiVersion: v1
    kind: Service
    metadata:
        name: toby-cv-site-svc
    spec:
        selector:
            app: toby-cv-site
        ports:
            -
                name: http
                port: 8080
                targetPort: 80
                protocol: TCP

---
    apiVersion: networking.k8s.io/v1beta1
    kind: Ingress
    metadata:
        name: toby-cv-site-ingress
    spec:
        rules:
        - host: www.tobysykes.net
          http:
            paths:
            - path: /
              backend:
                serviceName: toby-cv-site-svc
                servicePort: 8080
        - host: tobysykes.net
          http:
            paths:
            - path: /
              backend:
                serviceName: toby-cv-site-svc
                servicePort: 8080