apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: toby-cv-app
  namespace: default
spec:
  dnsNames:
    - www.tobysykes.net
  secretName: toby-cv-app-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer