---
    apiVersion: apps/v1
    kind: Deployment
    metadata:
        name: ian-cv-site
    spec:
        selector:
            matchLabels:
                app: ian-cv-site
        replicas: 1
        template:
            metadata:
                labels:
                    app: ian-cv-site
            spec:
                containers: 
                - name: ian-cv-site
                  image: elrosvirtual/ir-portfolio:27
                  imagePullPolicy: Always


---
    apiVersion: v1
    kind: Service
    metadata:
        name: ian-cv-site-svc
    spec:
        selector:
            app: ian-cv-site
        ports:
            -
                name: http
                port: 80
                targetPort: 5000
                protocol: TCP

---
    apiVersion: networking.k8s.io/v1beta1
    kind: Ingress
    metadata:
        name: ian-cv-site-ingress
    spec:
        tls:
        - hosts:
          - www.ianaroberts.co.uk
          secretName: ian-cv-app-tls
        rules:
        - host: www.ianaroberts.co.uk
          http:
            paths:
            - path: /
              backend:
                serviceName: ian-cv-site-svc
                servicePort: 80