---
    apiVersion: apps/v1
    kind: Deployment
    metadata:
        name: tobysite-hobby-site
    spec:
        selector:
            matchLabels:
                app: tobysite-hobby-site
        replicas: 1
        template:
            metadata:
                labels:
                    app: tobysite-hobby-site
            spec:
                containers: 
                - name: tobysite-hobby-site
                  image: elrosvirtual/ts-hobby:1
                  imagePullPolicy: Always


---
    apiVersion: v1
    kind: Service
    metadata:
        name: tobysite-hobby-site-svc
    spec:
        selector:
            app: tobysite-hobby-site
        ports:
            -
                name: http
                port: 8080
                targetPort: 80
                protocol: TCP

---
    apiVersion: networking.k8s.io/v1beta1
    kind: Ingress
    metadata:
        name: tobysite-hobby-site-ingress
    spec:
        rules:
        - host: www.tobz0r.co.uk
          http:
            paths:
            - path: /
              backend:
                serviceName: tobysite-hobby-site-svc
                servicePort: 8080
        - host: tobz0r.co.uk
          http:
            paths:
            - path: /
              backend:
                serviceName: tobysite-hobby-site-svc
                servicePort: 8080