---
    apiVersion: apps/v1
    kind: Deployment
    metadata:
        name: elros-home
    spec:
        selector:
            matchLabels:
                app: elros-home
        replicas: 1
        template:
            metadata:
                labels:
                    app: elros-home
            spec:
                containers: 
                - name: elros-home
                  image: elrosvirtual/elros-home:61
                  imagePullPolicy: Always


---
    apiVersion: v1
    kind: Service
    metadata:
        name: elros-home-svc
    spec:
        selector:
            app: elros-home
        ports:
            -
                name: http
                port: 80
                targetPort: 5000
                protocol: TCP

---
    apiVersion: networking.k8s.io/v1beta1
    kind: Ingress
    metadata:
        name: elros-home-ingress
    spec:
        tls:
        - hosts:
          - www.elrosvirtual.co.uk
          secretName: elros-app-tls
        rules:
        - host: www.elrosvirtual.co.uk
          http:
            paths:
            - path: /
              backend:
                serviceName: elros-home-svc
                servicePort: 80