---
    apiVersion: apps/v1
    kind: Deployment
    metadata:
        name: castle-of-paint
    spec:
        selector:
            matchLabels:
                app: castle-of-paint
        replicas: 1
        template:
            metadata:
                labels:
                    app: castle-of-paint
            spec:
                containers: 
                - name: ian-cv-site
                  image: elrosvirtual/castle-of-paint:46
                  imagePullPolicy: Always


---
    apiVersion: v1
    kind: Service
    metadata:
        name: castle-of-paint-svc
    spec:
        selector:
            app: castle-of-paint
        ports:
            -
                name: http
                port: 80
                targetPort: 5000
                protocol: TCP

---
    apiVersion: networking.k8s.io/v1beta1
    kind: Ingress
    metadata:
        name: castle-of-paint-ingress
    spec:
        tls:
        - hosts:
          - castle-of-paint.elrosvirtual.co.uk
          secretName: castle-of-paint-app-tls
        rules:
        - host: castle-of-paint.elrosvirtual.co.uk
          http:
            paths:
            - path: /
              backend:
                serviceName: castle-of-paint-svc
                servicePort: 80